{% extends 'InnciclaApp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="color">Estaciones</h1>
        <br />
        <br />
        <form action="{% url 'busqueda' %}" method="GET">
            {% csrf_token %}
            <div class="row">
                <div class="col col-lg-10">
                    <input name="q" class="form-control me-2" type="search" placeholder="Ingresa la estacion que buscas" aria-label="Search">
                </div>
                <div class="col col-lg-1">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </div>
            </div>
        </form>
        <br />
        {% for estacion in estaciones %}
        <div class="row">
            <div class="container-fluid">
                <div class="card bg-warning mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-sm-4">
                            <img src="{{ estacion.image }}"
                                 class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ estacion.nombre }}</h5>
                                <p class="card-text">
                                    {{ estacion.direccion }}<br/>
                                    Telefono: {{ estacion.telefono }}
                                </p>
                                <a href="{{ estacion.maps }}" class="btn btn-primary">Ir a maps</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        {% endfor %}
        <a href="{% url 'inicio' %}" class="btn btn-success">Inicio</a>
    <br />
    <br />
{% endblock %}
