<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/primerTemplate.css' %}">
<!DOCTYPE html>
<html>
<body style="background-color:#1084f1;">
    <img style="float: right; "class="profile" src="{% static 'css/images/profile3.png' %}">
    <h1 class="color" >Inicio</h1>
    <div class="container">
        <div class="row align-items-start">
          <div class="col box" id="casa">
            <i class="icon bi bi-house-door"></i>
            CASA
          </div>
        <div class="col box" id="estaciones">
            <i class="icon bi bi-battery-charging"></i>
            ESTACIONES
        </div>
        </div>
        <div class="box2" id="contacto">
            <i class="icon bi bi-person-rolodex"></i>
            CONTACTO DE EMERGENCIA
        </div>
        <div class="box2" id="mapa">
            <i class="icon bi bi-geo-alt"></i>
            MAPA DE ESTACIONES
        </div>
        <div class="llamada" id="llamada">
            <i class="icon bi bi-telephone"></i>
            LLAMADA DE EMERGENCIA
        </div>
    </div>
</body>
</html>