{% extends 'InnciclaApp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="color">Contactos</h1>
        <div class="llamada" id="agregar-contactos" >
            <a href="{% url 'contacto-agregar' %}" >Agregar contacto</a>
        </div>
        {% for contacto in contactos %}
        <div class="row">
            <div class = " container">
                <div class="card bg-warning mb-3 card-contacto" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-sm-8">
                            <img class="profile-contacto" src="{% static 'css/images/profile3.png' %}">
                            <div class="card-body">
                                <h5 class="card-title">{{ contacto.nombre }} {{ contacto.apellido }}</h5>
                                <p class="card-text">
                                    Parentesco: {{ contacto.parentesco }}
                                </p>
                                <p class="card-text">
                                    Contacto: {{ contacto.telefono }}
                                </p>
                                <a href="{% url 'contacto-info' %}" class="btn btn-primary">Ver contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        {% endfor %}
{% endblock %}
