{% extends 'InnciclaApp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="color">Contactos</h1>
        <br />
        <br />
        <div class="row">
            <div class = " container">
                <div class="card bg-warning mb-3 card-contacto" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-sm-8">
                            <img class="profile-contacto" src="{% static 'css/images/profile3.png' %}">
                            <div class="card-body">
                                <h5 class="card-title">Sergio Maldonado Fisher</h5>
                                <p class="card-text">
                                    Parentesco: Papá
                                </p>
                                <p class="card-text">
                                    Contacto: 3138326462
                                </p>
                                <a href="https://www.google.com.co/maps/place/EnCicla+-+Robledo/@6.2731701,-75.5943878,17z/data=!3m1!4b1!4m5!3m4!1s0x8e44293dd16719ab:0x2e9d5610883144e6!8m2!3d6.2731648!4d-75.5921938"
                                   class="btn btn-primary">Ver contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class = "container">
                <div class="card bg-warning mb-3 card-contacto" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-sm-8">
                            <img class="profile-contacto" src="{% static 'css/images/profile3.png' %}">
                            <div class="card-body">
                                <h5 class="card-title">Sergio Maldonado Fisher</h5>
                                <p class="card-text">
                                    Parentesco: Papá
                                </p>
                                <p class="card-text">
                                    Contacto: 3138326462
                                </p>
                                <a href="https://www.google.com.co/maps/place/EnCicla+-+Robledo/@6.2731701,-75.5943878,17z/data=!3m1!4b1!4m5!3m4!1s0x8e44293dd16719ab:0x2e9d5610883144e6!8m2!3d6.2731648!4d-75.5921938"
                                   class="btn btn-primary">Ver contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class = "container">
                <div class="card bg-warning mb-3 card-contacto" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-sm-8">
                            <img class="profile-contacto" src="{% static 'css/images/profile3.png' %}">
                            <div class="card-body">
                                <h5 class="card-title">Sergio Maldonado Fisher</h5>
                                <p class="card-text">
                                    Parentesco: Papá
                                </p>
                                <p class="card-text">
                                    Contacto: 3138326462
                                </p>
                                <a href="https://www.google.com.co/maps/place/EnCicla+-+Robledo/@6.2731701,-75.5943878,17z/data=!3m1!4b1!4m5!3m4!1s0x8e44293dd16719ab:0x2e9d5610883144e6!8m2!3d6.2731648!4d-75.5921938"
                                   class="btn btn-primary">Ver contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'inicio' %}" class="btn btn-success">Inicio</a>
            </div>
        </div>
    </div>
    <br />
    <br />
{% endblock %}
