.color{
    
    text-align: center;
    color: rgb(102, 103, 211);
}

.background{
    /* background-color:rgb(185, 200, 248); */
}

.mycont{
    margin-top: 50px;
    padding: 30px;
  }

.menu_img{
  height: 50px;
}

@media (max-width: 500px) {
    .contrasena {
      padding-top: 25px;
    }

    .img{
        padding-top: 120px;
    }
  }

  a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: gray;
  }
  
  a:hover {
    text-decoration: none;
    color: gray;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }

  .btn2{
    width: 50%;
    margin-top: 100px;
    margin-left: 80px;
    
  }

  .logo{
    position: absolute;
    left:40px;
    width: 100px;
    padding: 20px;
  }